footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-menu {
  display: flex;
  width: 876px;
  justify-content: space-between;
  font-family: Inter;
  font-weight: 900;
  font-size: 20px;
  line-height: 170%;
  color: #000;
  margin-bottom: 14px;
  & a {
    color: #000;
  }
}
.footer-submenu {
  display: flex;
  justify-content: space-between;
  width: 269px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: $dark-middle;
  cursor: pointer;
  margin-bottom: 32px;
  & a {
    color: $dark-middle;
  }
}
.age {
  margin-top: 48px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 300;
  color: #222;
  line-height: 150%;
}
.caption {
  color: $dark-middle;
}
.caption + .caption {
  margin-top: 8px;
}
@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
