header {
  .banner {
    background: #f7b000;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
  }
  .left {
    a {
      color: $dark-middle;
    }
    a + a {
      margin-left: 24px;
    }
  }
  .logo {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .search {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 12px;
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      position: relative;
    }
  }
  .menu {
    background: $green-light;
    padding: 27px;
    .container {
      max-width: 925px;
      display: flex;
      justify-content: space-between;
      a {
        color: $dark;
        &.active {
          color: $dark-middle;
        }
      }
    }
  }
  @media screen and (max-width: $tablet) {
  }

  @media screen and (max-width: $mobile) {
    .content {
      flex-direction: column-reverse;
      text-align: center;
      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
      }
      h5 {
        margin: 19px;
      }
    }
    .menu {
      display: none;
    }
  }
}
