.input-with-button {
	width: 460px;
	height: 64px;
	display: flex;

	label {
		font-size: 18px;
		position: relative;
		width: 100%;
		height: 100%;
		input {
			width: 100%;
			height: 100%;
			padding-left: 30px;
			outline: none;
			background: #f0f8e9;
			border-radius: 82px;
			border: none;
			font-size: inherit;

			&::placeholder {
				color: $dark-middle;
			}
		}

		button {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			height: calc(100% - 18px);
			background-color: $green;
			color: white;
			font-size: inherit;
		}
	}

	@media screen and (max-width: $tablet) {
	}

	@media screen and (max-width: $mobile) {
		width: 100%;
		height: initial;
		label {
			font-size: 16px;
			input {
				height: 48px;
			}
			button {
				position: static;
				margin-top: 16px;
				height: 48px;
				width: 100%;
				top: initial;
				right: initial;
				transform: none;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
