.section-populars {
  margin-bottom: 96px;
}

.row-filter {
  margin-bottom: 48px;
  .show-all {
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
      color: $green;
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
a svg {
  display: flex;
  text-align: center;
}
svg:hover * {
  fill: red;
}
.card {
  width: 379px;
  margin-right: 32px;

  .container-1_1 {
    padding-bottom: 100%;
    position: relative;
    height: 0;
    .content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;

      border-radius: 32px;

      img {
        height: auto;
        width: 100%;
        object-fit: cover;
        transition: all 0.2s linear;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
.subtitle {
  color: $dark-middle;
  margin-bottom: 24px;
}
img .video {
  width: 56px;
  height: 56px;
}
.video {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1000;
}
@media screen and (max-width: $mobile) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
