.container {
  .filter-row {
    display: flex;
    justify-content: center;
    align-items: center;
    .filter-content {
      display: flex;
      align-items: center;
      margin-bottom: 48px;
      .show-all {
        margin-right: 8px;
        font-family: Inter;
        font-weight: 500;
        font-size: 18px;
        line-height: 170%;
        &:hover {
          color: $dark;
          cursor: pointer;
        }
      }

      img {
        object-fit: contain;
      }
    }
  }
}
a svg {
  display: block;
  text-align: center;
}
svg:hover * {
  fill: red;
}
.image {
  overflow: hidden;
  width: 379px;
  height: 379px;
}
.image img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.image img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.rounded {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 32px;
  display: block;
}
