.slider {
  width: 2312px;
  position: absolute;
  top: 0;
  left: 51%;
  transform: translateX(-61%);
  overflow: hidden;
  .slick-list {
    overflow: visible;
    transform: translateX(-3%) !important;
  }
  .slide {
    display: block;
    outline: none;
    margin-right: 32px;
    transition: all linear 0.5s;
    &:not(.slick-active) {
      position: relative;
      opacity: 0.5;
    }
  }

  .slide-item {
    width: 538px;
  }

  @media screen and (max-width: $tablet) {
  }

  @media screen and (max-width: $mobile) {
    position: static;
    width: initial;
    transform: initial;
    left: initial;
    top: initial;
    .slick-list {
      overflow: visible;
      transform: initial !important;
    }

    .slide-item {
      width: calc(100vw - 32px);
    }
  }
}
