.subscribe {
  border: 1px solid $dark-middle;
  border-radius: 16px;
  text-align: center;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 16px;
  }
  .subtitle {
    margin-bottom: 48px;
    text-align: center;
  }

  label {
    position: relative;
    &.hide {
      display: none;
    }
    &.already {
      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 100%);
        color: $red;
        content: "Этот e-mail уже подписан на рассылку";
      }
    }
  }

  .thanks {
    display: none;
    align-items: center;
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      background: $green;
      border-radius: 50%;
      margin-right: 16px;
    }

    &.show {
      display: flex;
    }
  }

  @media screen and (max-width: $tablet) {
  }

  @media screen and (max-width: $mobile) {
    padding: 32px 16px;
    height: initial;
    min-height: 300px;
  }
}
