.row-tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tag {
  @extend .subtitle;
  padding: 24px 40px;
  background: $green-light;
  display: inline-flex;
  border-radius: 55px;
  color: black;

  &.small {
    padding: 8px 16px;
    @extend .caption;
    color: black;
  }

  &:nth-child(2n) {
    background: $beuge;
  }

  &:nth-child(3n) {
    background: $background-blue;
  }

  @media screen and (max-width: $tablet) {
  }

  @media screen and (max-width: $mobile) {
  }
}
