.tagscategs .container {
  margin-bottom: 167px;
}
.row {
  height: 80px;
  margin: 15px 0;
  clear: both;
  position: relative;
  .tickercontainer {
    height: 79px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .tickercontainer .mask {
    position: relative;
    height: 80px;
    overflow: hidden;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(100%, 0);
  }
}
@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(-100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(100%, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.fas {
  margin-left: 21px;
  margin-right: 5px;
}
.tagsticker {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.tagsticker span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 41s infinite linear;
  -moz-animation: scroll 41s infinite linear;
  animation: scroll 41s infinite linear;
}
